<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title >Error Adding</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class = "error">
    <%- include('header') %>

    <h1 style = "margin-top: 100px;"><%- message %></h1>
 

</body>
</html>
