
<div id = "menu">
    <h1>Anime Character Directory</h1>
    <ul>
        <li><a href= "/reviewCharacters">List of Characters</a></li>
        <li><a href= "/"> Home</a></li>
    </ul>
</div>

