<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title >Anime Characters List</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class = "main">
    <%- include('header') %>

    <h1 style = "margin-top: 10px">Anime Character List</h1>

    <h2>A simple website for anime characters</h2>

    <div class="image-container" style = "margin-top:10px;">
        <img src="https://www.listchallenges.com/f/lists/9cd5a494-746e-4308-91db-e58eb4d1525b.jpg" >
    </div>

    <hr style = "margin-top:20px;">

    <h2 style = "margin-top:15px; margin-bottom: 15px; color: rgb(87, 3, 56)">Some Additional Features:</h2>
        <div class ="center">
        <button><a href="/addCharacter" style="color: rgb(87, 3, 56)">Click here to add your own anime character</a></button></button><br><br>

 
        <button><a href="/searchCharacter" style="color: rgb(87, 3, 56)">Click here to search for a character</a></button><br><br>

        <button><a href="/removeCharacter" style="color: rgb(87, 3, 56)">Click here to remove a character</a></button></h2>
        </div>

</body>
</html>
