<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>List of Characters</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body class = "review">
    <%- include('header') %>
    <h1 style = "margin-top: 10px;">List of Characters</h1>
    <div>
        <br>
      <%- table %><br />
    </div>
  </body>

</html>
